body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hina Mincho', serif;
}

header {
    background-image: url("./assets/landskap.jpeg"); 
    height: 100%;
    width: 100%;
    background-size: cover;
    justify-content: flex-end;
}

.greenTopLine {
    background: rgb(40, 63, 49);
    height: 1.5rem;
    width: 100%;
    z-index: 100;
}

.transparentOverlay {
    background: rgba(114, 114, 114, 0.509);
    width: 30%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

h2 {
    color: rgb(40, 63, 49);
    font-family: 'EB Garamond', serif;
}

.aboutText {
    padding: 0 5rem;
    text-align: center;
}

.services {
    text-align: center;
    padding: 1rem 4rem;
}

.gallery {
    padding-bottom: 2rem;
    justify-content: space-evenly;
}

.contactArea {
    background: rgba(114, 114, 114, 0.509);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.2rem;
}

form {
    padding: 2rem;
    text-align: center;
}

input, textarea {
    border-radius: .2rem;
    border: none;
    background: white;
    padding: .3rem;
}

button {
    background: rgb(40, 63, 49);
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: .6rem;
    margin-top: 1rem;
    font-family: 'Hina Mincho', serif;
}

footer {
    background: grey; 
    padding: 0 5rem;
    margin-top: 2rem;
    font-size: small;
}

/* REUSABLE CLASSES */
.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

@media (max-width: 700px) {

    .services {
        flex-wrap: wrap;
        padding: 1rem;
    }

    .aboutText {
        padding: 0 1rem;
    }
}

@media (max-width: 500px) {
    .transparentOverlay {
        width: 100%;
    }

    .contactArea {
        flex-direction: column;
    }

    form {
        padding-top: 0;
    }

    .address {
        flex-direction: column;
        text-align: center;
    }
}